<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
   <div><a href="#" class="navbar-brand">Proyecto</a></div>
   <!--boton asociado con collapse como indica data-toggle. La clase collapse navbar-collapse indica que parte estará oculta en el navbar para tamaños inferiores a lg-->
   <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navigation"
      aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav mr-auto">
         <!--En el navbar se muestran todas las opciones de la aplicación-->
         <li class="nav-item">
            <a class="nav-link" href="#inicio">Inicio</a>
         </li>
         <li class="nav-item"><a class="nav-link" href="#nuevaeva" data-toggle="modal" data-target="#nuevaEvaluacion">
               Nueva evaluación</a></li>
         <li class="nav-item"><a class="nav-link" href="#repetireva"> Repetir evaluación</a></li>
         <li>
            <a class="nav-link" href="#" (click)=logOut()>Logout</a>
         </li>
      </ul>
   </div>
</nav>


<!-- <app-mostrar-rejilla></app-mostrar-rejilla>-->
<div *ngIf="rejillaIniciada" class="container col-lg-10">
   <h1 class="text-center">Elementos</h1>
   <div class="card">
      <div class="card-body">
         <form name="form" #f="ngForm" novalidate (ngSubmit)="guardar()">
            <div class="form-group" *ngFor='let num of [3,4,5,6,7,8,9,10,11]'>
               <label for="'elemento'+num">{{elementos[num-1].descripcion}} </label>
               <input type="text" class="form-control" name="elemento+{{num}}" [(ngModel)]="elementos['nombre'+num]"
                  autocomplete="off" required>
               <label for="'descripcion'+num">Descripción:</label>
               <input type="text" class="form-control" name="descripcion+{{num}}"
                  [(ngModel)]="elementos['descripcionUsuario'+num]" autocomplete="off">
            </div>

            <div class="form-group">
               <button type="submit" class="btn btn-dark" [disabled]="!f.valid">Guardar elementos</button>
               <div *ngIf="f.submitted" class="alert alert-danger mt-3">Debe de introducir todos los
                  elementos
               </div>
            </div>
         </form>
      </div>
   </div>

</div>


<div *ngIf="mostrarConstructos" class="container col-lg-10">
   <h1 class="text-center">Constructos</h1>
   <div class="card">
      <div class="card-body">
         <form name="form" #f="ngForm" novalidate (ngSubmit)="guardarConstructos()">
            <div class="form-group" *ngIf="varAux<= 13">
               <label for="constructos+{{varAux}}">{{constructos[varAux].txtpregunta}} </label>
               <div *ngIf="parecidos">
                  <input type="text" class="form-control" name="constructos+{{varAux}}"
                     [(ngModel)]="poloIzquierdo[varAux]" autocomplete="off" required>
               </div>
               <div *ngIf="!segundaPregunta">
                  <button class="btn btn-dark" (click)=incrementarVar() [disabled]="!f.valid">Siguiente</button>
               </div>

               <div *ngIf="segundaPregunta">
                  <div *ngIf="parecidos">
                     <p>{{preguntasPolos[this.varAux].preg1}}</p>
                     <input type="text" class="form-control" name="poloDerecho+{{varAux}}"
                        [(ngModel)]="poloDerecho[varAux]" autocomplete="off" required>
                     <button class="btn btn-dark" (click)=incrementarVar() [disabled]="!f.valid">Siguiente</button>
                  </div>

                  <div *ngIf="diferencias">
                     <p>{{preguntasPolos[this.varAux].preg1}}</p>
                     <input type="text" class="form-control" name="poloIzquierdo+{{varAux}}"
                        [(ngModel)]="poloIzquierdo[varAux]" autocomplete="off" required>
                     <p>{{preguntasPolos[this.varAux].preg2}}</p>
                     <input type="text" class="form-control" name="poloDerecho+{{varAux}}"
                        [(ngModel)]="poloDerecho[varAux]" autocomplete="off" required>
                     <button *ngIf="varAux!= 13" class="btn btn-dark" (click)=incrementarVar()
                        [disabled]="!f.valid">Siguiente</button>
                  </div>
               </div>
            </div>

            <div *ngIf="varAux===13" class="form-group">
               <button type="submit" class="btn btn-dark" [disabled]="!f.valid">Guardar Constructos</button>
               <div *ngIf="f.submitted" class="alert alert-danger mt-3">Debe de introducir todos los
                  elementos
               </div>
            </div>
         </form>
      </div>
   </div>
</div>


<div *ngIf="puntuarRejilla">
   <app-puntuar-rejilla></app-puntuar-rejilla>
</div>


<div class="modal" id="nuevaEvaluacion" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="modificarDatos">Nueva evaluación</h5>
         </div>
         <div class="modal-body">
            <table>
               <tr>
                  <td align="justify" colspan="10">A continuación iniciará una nueva evaluación. En primer lugar deberá
                     rellenar los 12 elementos que se le piden.
                  </td>
               </tr>
               <tr>
                  <td colspan="2" align="left">
                     <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                  </td>
                  <td colspan="6"></td>
                  <td colspan="2" align="right">
                     <button type="button" (click)="iniciarRejilla()" id="guardarcambios" data-dismiss="modal"
                        class="btn btn-dark">Continuar</button>
                  </td>
               </tr>
            </table>
         </div>
         <div class="modal-footer">
         </div>
      </div>
   </div>
</div>