<div class="col-12 col-md-10">
<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm" id="resultadoRejilla" >
    <thead>
      <tr>
        <th scope="col">Orden</th>
        <th scope="col"></th>
        <th scope="col">Polo izquierdo</th>
        <th scope="col">Polo derecho</th>
        <th scope="col" ><p class="vertical">Elemento 1</p></th>
        <th scope="col" ><p class="vertical">Elemento 2</p></th>
        <th scope="col" ><p class="vertical">Elemento 3</p></th>
        <th scope="col" ><p class="vertical">Elemento 4</p></th>
        <th scope="col" ><p class="vertical">Elemento 5</p></th>
        <th scope="col" ><p class="vertical">Elemento 6</p></th>
        <th scope="col" ><p class="vertical">Elemento 7</p></th>
        <th scope="col" ><p class="vertical">Elemento 8</p></th>
        <th scope="col" ><p class="vertical">Elemento 9</p></th>
        <th scope="col" ><p class="vertical">Elemento 10</p></th>
        <th scope="col" ><p class="vertical">Elemento 11</p></th>
        <th scope="col" ><p class="vertical">Elemento 12</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <th scope="row">1</th>
        <td>Constructo 1</td>
        <td>Constructo 1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <th scope="row">2</th>
        <td>Constructo 2</td>
        <td>Constructo 2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <th scope="row">3</th>
        <td>Constructo 3</td>
        <td>Constructo 3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <th scope="row">4</th>
        <td>Constructo 4</td>
        <td>Constructo 4</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <th scope="row">5</th>
        <td>Constructo 5</td>
        <td>Constructo 5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <th scope="row">6</th>
        <td>Constructo 6</td>
        <td>Constructo 6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <th scope="row">7</th>
        <td>Constructo 7</td>
        <td>Constructo 7</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <th scope="row">8</th>
        <td>Constructo 8</td>
        <td>Constructo 8</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</div>