<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
   <div><a href="#" class="navbar-brand">Proyecto</a></div>
   <!--boton asociado con collapse como indica data-toggle. La clase collapse navbar-collapse indica que parte estará oculta en el navbar para tamaños inferiores a lg-->
   <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navigation"
      aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav mr-auto">
         <!--En el navbar se muestran todas las opciones de la aplicación-->
         <li class="nav-item">
            <a class="nav-link" href="#inicio">Inicio</a>
         </li>
         <li class="nav-item"><a class="nav-link" href="#nuevaeva" data-toggle="modal" data-target="#nuevaEvaluacion">
               Nueva evaluación</a></li>
         <li class="nav-item"><a class="nav-link" href="#repetireva"> Repetir evaluación</a></li>
         <li>
            <a class="nav-link" href="#" (click)=logOut()>Logout</a>
         </li>
      </ul>
   </div>
</nav>

<div *ngIf="bMostrarListaRejillas">
   <div id="inicio">
      <h1>Resultado Evaluaciones</h1>
      <label>Lista de Rejillas</label>
      <div *ngFor="let info of resultadoRejillas;let indice=index">
         <p class="principal"> {{info.idrejilla}} <mat-icon (click)=toggleDisplay(info.idrejilla)
               class="mat-icon-rtl-mirror">{{info.idrejilla}} {{info.isShow ? 'chevron_right' : 'expand_more'}}
            </mat-icon>
         </p>

         <div id="segundaRama" [hidden]="info.isShow">
            <p id="resumen">Resumen rejilla</p>
            <p class="elementoResumen">Elementos<mat-icon (click)=showElementos(info.idrejilla)
                  class="mat-icon-rtl-mirror">{{info.idrejilla}}
                  {{info.isShowElementos? 'chevron_right' : 'expand_more'}}
               </mat-icon>
            </p>
            <div [hidden]="info.isShowElementos" *ngFor="let elemento of info.elementos">
               <p class="resumen">Elemento</p>
               <p class="resultadoResumen">Nombre Elemento:</p>
               <p class="resultadoResumen">{{elemento.nombreelemento}}</p>
               <p class="resultadoResumen">Rol Elemento:</p>
               <p class="resultadoResumen">{{elemento.rolelemento}}</p>
            </div>
            <p class="elementoResumen">Constructos <mat-icon (click)=showConstructos(info.idrejilla)
                  class="mat-icon-rtl-mirror">{{info.idrejilla}}
                  {{info.isShowConstructos ? 'chevron_right' : 'expand_more'}} </mat-icon>
            </p>
            <div [hidden]="info.isShowConstructos" *ngFor="let constructo of info.constructos">
               <p class="resultadoResumen">Constructo</p>
               <p class="resultadoResumen">{{constructo.idconstructo}}</p>
               <p class="resultadoResumen">Polo izquierdo</p>
               <p class="resultadoResumen">{{constructo.txtpoloizq}}</p>
               <p class="resultadoResumen">Polo derecho</p>
               <p class="resultadoResumen">{{constructo.txtpoloder}}</p>
            </div>
            <p class="elementoResumen">Fecha Inicio</p>
            <p class="resultadoResumen">{{info.fechahora}}</p>
            <p class="elementoResumen">Fecha Finalización</p>
            <p class="resultadoResumen">{{info.fechahorafin}}</p>
            <p class="elementoResumen">Comentario </p>
            <p class="resultadoResumen">{{info.comentariopaciente}}</p>
            <p class="elementoResumen">Evaluaciones </p>
            <div *ngFor="let evaluacion of  info.evaluaciones">
               <p (click)=showRejillaCompleta(info.idrejilla) class="resultadoResumen">
                  {{evaluacion.idevaluacion}} </p>
               <div *ngIf="mostrarEvaluacion">
                  <app-mostrar-rejilla></app-mostrar-rejilla>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


<div *ngIf="bMostrarElementos">
   <app-elementos [bModo_test]="this.modo_test" [usuarioDatos]="this.usuarioDatos"
      (emitterOutputComponente)="obtenerSalidaElementosComponent($event)">
   </app-elementos>
</div>


<div *ngIf="bMostrarConstructos">
   <app-constructos [bModo_test]="this.modo_test" [usuarioRejilla]="this.usuarioDatos.rejilla"
      (emitterOutputComponente)="obtenerSalidaConstructosComponent($event)">
   </app-constructos>
</div>


<div *ngIf="bPuntuarRejilla">
   <app-puntuar-rejilla></app-puntuar-rejilla>
</div>


<div class="modal" id="nuevaEvaluacion" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="modificarDatos">Nueva evaluación</h5>
         </div>
         <div class="modal-body">
            <table>
               <tr>
                  <td align="justify" colspan="10">A continuación iniciará una nueva evaluación. En primer lugar
                     deberá
                     rellenar los 12 elementos que se le piden.
                  </td>
               </tr>
               <tr>
                  <td colspan="2" align="left">
                     <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                  </td>
                  <td colspan="6"></td>
                  <td colspan="2" align="right">
                     <button type="button" (click)="iniciarRejilla()" id="guardarcambios" data-dismiss="modal"
                        class="btn btn-dark">Continuar</button>
                  </td>
               </tr>
            </table>
         </div>
         <div class="modal-footer">
         </div>
      </div>
   </div>
</div>